<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IExcelExportState" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ExcelExportStateService.svc/ExcelService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExcelExportState"
                contract="ExcelExportStateServiceReference.IExcelExportState" 
                name="BasicHttpBinding_IExcelExportState" />
        </client>
    </system.serviceModel>
</configuration>